@namespace MyPlans.Components.Auth

<h3>RegisterForm</h3>

<EditForm Model="_model" OnValidSubmit="RegisterUserAsync">
    <FluentValidationValidator />

    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Welcome To MyPlans</MudText>
                <MudText Typo="Typo.body2"> Register Here </MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudTextField Label="Email" HelperText="Required" @bind-Value="@_model.Email" />
            <MudTextField Label="FirstName" HelperText="Required" @bind-Value="@_model.FirstName" />
            <MudTextField Label="LastName" HelperText="Required" @bind-Value="@_model.LastName" />
            <MudTextField InputType="InputType.Password" Label="Password" HelperText="Required" @bind-Value="@_model.Password" />
            <MudTextField InputType="InputType.Password" Label="ConfirmPassword" HelperText="Required" @bind-Value="@_model.ConfirmPassword" />

            <ValidationSummary />

            @if (!string.IsNullOrWhiteSpace(_errorMessage))
            {
                <MudAlert Severity="Severity.Error" Class="my-2" Variant="Variant.Filled">@_errorMessage</MudAlert>
            }
        </MudCardContent>

        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Disabled="_isBusy">Submit</MudButton>
            <MudButton  Variant="Variant.Outlined" Color="Color.Secondary" OnClick="RedirectToLogin" Class="ml-1" Disabled="_isBusy">Login</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code {

}
